*{
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    background: black;
    background-size: cover;
}

main {
    display: flex;
    width: 500px;
    margin: 200px auto;
    background: rgb(66, 64, 64);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.title {
    width: 60%;
    margin: 5px auto;
    text-align: center;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(13, 241, 245);
    background: url(images/abstract-1850424_640.jpg);
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    
}

.calBody {
    
    width: 100%;
    height: 650px;
    margin: 30px auto;
}

.calBody h2 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.numbers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
}

.numberLine {
    display: flex;
    width: 70px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(4, 4, 4);
    font-weight: bold;
    background: white;
    box-shadow: 10px 5px 5px black;
}

.numberLine:hover {
    background: rgb(160, 221, 222);
}

.numbers .equals{
    background: rgb(103, 103, 108);
    color: white;
}

.output {
    display: flex;
    align-items: center;
    margin: 30px auto;
    width: 80%;
    height: 130px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    color: aqua;
    padding: 0 15px;
}

.output1 {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    width: 100%;
    color: aqua;
}

.orange {
    background: aqua;
}


.allClear {
    background: black;
    color: white;
}

.output1 {
    margin: 30px auto;
    font-size: 1.5rem;
}